@model  MVCDataBase.Models.ViewModel.UnvanModel  

<h2> @Model.Header </h2>
<form method="post">
    <div class="row">
       <div class="col-md-7">



        <lable> Id </lable>
        <input class="form-control" type="text" value="@Model.Unvan.UnvanId" name="UnvanId" />
        <label>Ad</label>
        <input class="form-control" type="text" value="@Model.Unvan.UnvanAd" name="UnvanAd" />
        <input class="@Model.BtnClass " type="submit" value="@Model.BtnVal" />
           <a class="btn btn warning" href="/Unvan/Liste"/>

       </div>

    </div >
</form>


